@font-face
{
    src: url("../font/circular.otf");
    font-family: "circular";
}

body
{
  margin: auto;
}

/*~~~~~~~~~~Header Part~~~~~~~~~~~*/
header
{
  width: 100%;
  height: auto;
}

/*Top header*/
figure
{
  display: inline-flex;
  width: 58px;
  height: 34px;
  margin: auto;
  padding: 15px 24px 15px 21px;
}

#logo
{
  fill:#FF5A5F;
  width:34px;
  height:34px;
}

#chevron
{
  width: 9px;
  height: 9px;
  fill: grey;
  transform:rotate(0deg);
  vertical-align: middle;
  margin-left: 9px;
  padding-bottom: 4px;
}

#logo,#chevron
{
  display: inline-flex;
  margin: auto;
}
/*<!-- ~~~~~~~~~~~~~~~~~~ -->*/

/*Titre*/
h1
{
  font-family: "circular";
  margin: auto;
  font-size: 24.5px;
  font-weight: 500;
  color: #484848;
  padding: 27px 40px 20px 24px;
}

h1 span
{
  font-weight: 600;
  color:#FF5A5F;
}
/*<!-- ~~~~~~~~~~~~~~~~~~ -->*/

/*Navigation*/
.input-container
{
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 87.87%;
  height: 41px;
  background-color: #ffffff;
  border: 0.5px solid #DBDBDB;
  border-radius: 4px;
  text-align: left;
}

#logoloupe
{
  display: inline-flex;
  fill:#868686;
  height:18px;
  width:18px;
  vertical-align: middle;
  margin: 12px auto auto 12px;
}

#inputput
{
  display: inline-flex;
  width: 85%;
  vertical-align: middle;
  margin: auto 3px auto 7px;
  text-align: left;
  border: none;
  font-family: "circular";
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Couleur du placeholder, j'me casse la tête pour rien !*/
::-webkit-input-placeholder { /* Chrome */
  color: #484848;
}

#inputput:focus
{
  outline: none;
}

.menu-container
{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e4e4e4;
  width: 87.87%;
  height: 50px;
  margin: 48px auto;
}

.menu-container ul
{
  list-style-type: none;
  display:inline-flex;
  font-size: 12px;
  font-family: "circular";
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #008489;
  padding:0px;
  text-align: left;
  overflow-x: scroll;
  white-space: nowrap;
  height: 60%;
  margin-top: 20px;
  text-overflow: ellipsis;
}

.menu-container li
{
  display: inline-flex;
  padding: 0px 0px 0px 0px;
  margin-right: 16px;
}

.menu-container li:nth-child(1)
{
  border-bottom: 2px solid #008489;
}

.menu-container li:nth-child(1) a
{
  color: #008489;
}

.menu-container li a
{
  text-decoration: none;
  color: #767676;
}
/*<!-- ~~~~~~~~~~~~~~~~~~ -->*/
/*<!-- ~~~~~~~~~~~~~~~~~~ -->*/

/*~~~~~~~~~~Section part~~~~~~~~~~~*/
